@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
.card p {
  color: black;
  font-family: "Merriweather", serif; }

/* -------IMAGEN----- */
img {
  width: 300px;
  margin: 10px;
  height: 400px; }

/*------FUENTES------*/
h1 {
  color: #0c080b;
  margin: 2px;
  padding: 20px; }

a {
  text-decoration: none;
  color: black;
  font-size: 20px; }
  a:hover {
    color: #550c0c;
    font-weight: 900; }

p {
  text-align: center; }

h2 {
  margin: 2rem;
  font-size: 30px;
  text-align: center;
  font-family: "Merriweather", serif; }

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

main {
  grid-area: main; }

.carousel-gatos {
  margin: 2rem; }

.img-main:hover {
  filter: blur(5px);
  transition: 0.3s;
  filter: brightness(50%); }

.subtitulo {
  font-size: 33px;
  margin: 30px;
  font-family: georgia; }

.parrafo {
  font-size: 18px;
  padding: 10px;
  border-radius: 30px;
  margin: 1rem;
  width: 380px;
  color: black; }

.caja-subtitulo {
  text-align: center; }

h1 {
  font-family: georgia; }

.boton-volver {
  margin: 1rem; }

.enlace-volver:hover {
  color: white; }

.main_contacto {
  background-image: linear-gradient(to left, #d0bdf62c, #d8f8e121, #ffeef2); }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 25vh; }

.formulario {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

.formulario-ingrese-sus-datos {
  font-size: 30px;
  color: black; }

.formulario-input {
  height: 2.5rem;
  width: 350px;
  border-radius: 15px;
  background-color: #ffeef2;
  text-align: center; }

.formulario-input-enviar-borrar {
  height: 2.5rem;
  width: 350px;
  border-radius: 15px;
  background-color: #de56f028;
  text-align: center; }

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #ffeef270;
  color: black;
  color: #550c0c;
  font-weight: 900;
  /* ---TRANSFORMACIONES DE BOTONES---- */
  transform: scale(1.1);
  transition: 3s; }

header {
  grid-area: header;
  background-image: linear-gradient(to left, #d0bdf62c, #d8f8e121, #ffeef2);
  font-family: Verdana, Tahoma; }

.nav-end {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end; }

.caja-Header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.perrosygatos-logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  /* ----ROTACION ----- */
  transform: rotate(360deg);
  transition: 3.5s; }

.logo-letra {
  color: black;
  font-size: 30px;
  margin: 30px; }

footer {
  grid-area: footer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* ----------GRADIENTES-------- */
  background-image: linear-gradient(to left, #d0bdf62c, #d8f8e121, #ffeef2); }
  footer ul li a {
    color: black; }
  footer i {
    font-size: 1.5rem; }
    footer i:hover {
      color: #550c0c; }

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

li {
  margin: 20px;
  list-style: none; }

.nosotros {
  color: black;
  font-family: "Merriweather", serif;
  margin: 20px;
  padding: 8px; }

.img-nosotros {
  display: flex;
  justify-content: center; }

.imagen-perro_lentes {
  width: 50vw;
  height: 50vh; }

.texto-nosotros {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 8px; }

.container-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.btn-productos:hover {
  background-color: black;
  color: white; }

.card {
  margin: 1rem;
  width: 34rem; }

.btn-ropa {
  width: 450px; }

.subtitulo-ropa-letra {
  color: black; }

.container-ropa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.articulo-ropa {
  margin: 2px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

@media (min-width: 768px) {
  img {
    width: 400px;
    height: 500px; }
  .texto-nosotros {
    flex-direction: row; } }

@media (min-width: 1024px) {
  img {
    width: 450px;
    margin: 20px;
    height: 500px; } }
