@media (min-width: 768px) {
    img {
      width: 400px;
      height: 500px;
    }
  }
  
  @media (min-width: 1024px) {
    img {
      width: 450px;
      margin: 20px;
      height: 500px;
    }
  }