
.container-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  

    
.btn-productos:hover {
        background-color: black;
        color: white;
      }
      
      .card {
        margin: 1rem;
        width: 40rem;
        p{
          @extend %estiloParrafo; 
        }
        }
